<header role="banner">
  <div #navCollapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" class="collapse bg-dark">
    <div  class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">St. Arnold's central school e-magazine and youtube channel website.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="btn text-left nav-link active" style="color: white;" href="">Home</a>
            </li>
            <li class="nav-item">
              <a class="btn text-left nav-link" style="color: white;" aria-current="page" href="emagazines">E-Magazines</a>
            </li>
            <li class="nav-item">
              <a class="btn text-left nav-link" style="color: white;" href="videos">Videos</a>
            </li>
            <li class="nav-item">
              <a class="btn text-left nav-link" style="color: white;" href="livestream">Livestream</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-danger fixed-top shadow-sm">

    <a href="/" class="navbar-brand d-flex align-items-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
      &nbsp;<strong>Arnoldian Media</strong>
    </a>

    <button (click)="navCollapse.toggle()" [attr.aria-expanded]="!isCollapsed"
            aria-controls="collapseExample" class="navbar-toggler" type="button" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</header>
<main role="main">
  <div class="container">
    <section class="py-2 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">Videos</h1>
          <p class="lead text-muted">St. Arnold's Central School Videos.</p>
          <p class="lead text-muted"><a href="https://www.youtube.com/c/ArnoldianMedia" target="_blank" class="btn btn-danger">YouTube Channel</a></p>
        </div>
      </div>
    </section>
    <hr>
    <div class="text-center">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link"  tabindex="-1">Previous</a>
          </li>
          <li *ngFor="let item of counter(pagecount);let i = index" class="page-item"><button (click)="getMedias('Ebook','',i+1)" class="page-link">{{i+1}}</button></li>
          <li class="page-item">
            <a class="page-link" >Next</a>
          </li>
        </ul>
      </nav>
      <div class="row mt-2" *ngIf="medias">
        <div class="col-sm-6 col-md-4 d-flex align-items-stretch mt-2" *ngFor="let item of medias">

          <div class="card shadow rounded" >
            <img style="object-fit: cover;height: 30vh;" [src]="item.url?'https://img.youtube.com/vi/'+item.url+'/hqdefault.jpg':'https://dummyimage.com/600x400/000/fff.png&text=No+Image'" (load)="hideLoader()" class="card-img-top" alt="Cover Page">
            <ngx-skeleton-loader *ngIf="!isimageLoade" count="1" appearance="square"
            [theme]="{ 
              'border-radius': '5px',
              height: '250px',
              border: '1px solid white'
            }"
            ></ngx-skeleton-loader>
            <div class="card-body" style="min-height: 150px;">
              <h5 class="card-title">{{item.title}}</h5>
              <p class="card-text">{{ (item.description.length > 60) ? (item.description | slice:0:60) + '...' : item.description }}</p>
              
            </div>
            <div class="card-footer"><a href="https://www.youtube.com/watch?v={{item.url}}" class="btn btn-danger btn-block" target="_blank">Play</a></div>
          </div>

        </div>
        
      </div>   

      <div class="row" *ngIf="!medias">
        <div class="col-sm-6 col-md-4  mt-2" >
          <div class="card" >
            <ngx-skeleton-loader count="1" appearance="square"
            [theme]="{ 
              'border-radius': '5px',
              height: '250px',
              border: '1px solid white'
            }"
            ></ngx-skeleton-loader>
            <div class="card-body">
                <ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader>
                <p class="card-text">
                  <ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader>
                </p>
                <ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader>
            </div>
          </div>
        </div>
        <div class="col-sm-6 col-md-4 mt-2" >
            <div class="card" >
                <ngx-skeleton-loader count="1" appearance="square"
                [theme]="{ 
                  'border-radius': '5px',
                  height: '250px',
                  border: '1px solid white'
                }"
                ></ngx-skeleton-loader>
              <div class="card-body">
                <ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader>
                <p class="card-text">
                    <ngx-skeleton-loader count="1" appearance="square"></ngx-skeleton-loader>
                </p>
                <ngx-skeleton-loader count="1" animation="progress" appearance="line"></ngx-skeleton-loader>
              </div>
            </div>
        </div>    
        <div class="col-sm-6 col-md-4  mt-2" >
          <div class="card" >
              <ngx-skeleton-loader count="1" appearance="square"
              [theme]="{ 
                'border-radius': '5px',
                height: '250px',
                border: '1px solid white'
              }"
              ></ngx-skeleton-loader>
            <div class="card-body">
              <ngx-skeleton-loader count="1" appearance="line"></ngx-skeleton-loader>
              <p class="card-text">
                  <ngx-skeleton-loader count="1" appearance="square"></ngx-skeleton-loader>
              </p>
              <ngx-skeleton-loader count="1" animation="progress" appearance="line"></ngx-skeleton-loader>
            </div>
          </div>
        </div>        
      </div> 


    </div>
  </div>
</main>


<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Media Content</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>One fine body&hellip;</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>